<div class="container">
      <div class="row">
        <div class="col-md-12">
    
            <h1>Add Picture</h1>
            <hr>
    
            <form method="post" action="/pictures/add" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstName">Picture File:</label>
                                <input class="form-control" id="pictureFile" name="pictureFile" type="file">
                            </div>
                        </div>
                    </div>

                <hr>
    
                <input type="submit" class="btn btn-primary pull-right" value="Add Picture"><br><br><br>
    
            </form>
        </div>
      </div>
    </div>