<div class="container">
      
      <div class="col-md-12">
        
        <h2>Add People</h2>
        <br>
        <form method="post" action="/people/add">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first_name">First Name:</label>
                            <input class="form-control" id="first_name" name="first_name" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input class="form-control" id="last_name" name="last_name" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input class="form-control" id="phone" name="phone" type="tel">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="address">Address (Street):</label>
                            <input class="form-control" id="address" name="address" type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="city">Address (City):</label>
                        <input class="form-control" id="city" name="city" type="text">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Car Information</legend>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="vin">Vin :</label>
    {{#if cars}}
        <select class="form-control" name="vin" id="vin">
        <option value="">Select Vin</option> 
        {{#each cars}}
            <option value="{{vin}}">{{ vin}}</option> 
        {{/each}}
      </select> 
    {{else}}
  
    <div>No Cars</div> 
    {{/if}}
            </div>
            </div>
            </div>
            </fieldset>

            <hr>

            <input type="submit" class="btn btn-primary pull-right" value="Add Person"><br><br><br>

        </form>
    </div>

    </div>